In [10]:
"""ランダムな数値からなるDataFrame"""
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 3))
df

          0         1         2
0  0.125861 -0.731050 -1.668192
1 -0.274040  1.120552 -0.587961
2  2.375420 -2.126983  0.125649
3  0.093524 -1.200812 -0.603469
4  2.679827  1.955340 -0.598712
5  2.999761  1.804335  0.444012